.header {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
  height: 100%;
}
.header .navbar-brand {
  font-size: 30px;
  color: #2c3038;
  font-weight: 700;
}

/* HEADER */
.hidee {
  visibility: hidden;
}
.fa-search {
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.fa-search:hover {
  color: blue;
  font-size: 23px;
}

.popup-check {
  opacity: 0;
}
.popup-wrapper {
  position: absolute;
  width: 100%;
}
.popup-content {
  position: absolute;
  top: 0;
  width: 100.2%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 8;
  height: 100.3vh;
  text-align: center;
}

.popup {
  display: none;
}
.popup-content .input-group {
  width: 30%;
  margin-top: 20px;
}
.popup-content .input-group .form-control {
  height: 58px;
}
.btn-header-red {
  background-color: #f05448;
  color: white;
  font-size: 17px;
  border-radius: 0;
}
.btn-header-red:hover {
  color: white;
  opacity: 0.7;
}
.popup-hidden {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  transition: all 0.3s ease-in;
}
.popup-hidden:hover {
  opacity: 0.8;
}

.popup-check:checked + .popup {
  display: block;
  z-index: 7;
}

/* POPUP HEADER */

.header .nav-item .nav-link {
  color: #2c3038;
  font-weight: normal;
  font-size: 17px;
}

.header .nav-item .nav-link:hover {
  opacity: 0.7;
}

/* ВЫПАДАЮЩИЙ СПИСОК */
.mydrop {
  display: inline-block;
  position: relative;
}
.drop-content {
  position: absolute;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 340%;
  border-radius: 5px;
  height: 100px;
  z-index: 100000;
  right: -80px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
  display: none;
  background-color: white;
}
.drop-content a {
  color: #2c3038;
  font-size: 17px;
  font-weight: normal;
  text-decoration: none;
}
.drop-content a:hover {
  opacity: 0.6;
}
.drop-content:before {
  content: "";
  position: absolute;
  top: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  transform: translateY(-100%);
}
.mydrop:hover .drop-content {
  display: flex;
}
/* ВЫПАДАЮЩИЙ СПИСКО */
.drop-ico {
  position: relative;
}
.drop-ico::after {
  content: "\f107";
  font-family: "FontAwesome";
  margin-left: 5px;
}
.blog {
  right: -73px;
  height: 80px;
}
.pages {
  height: auto;
  width: 600px;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  right: -255px;
}
.pages-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pages-content:hover .drop-content {
  display: flex;
}
.pages-content a {
  margin: 5px 0;
}

/* КНОПКИ ДЛЯ СЛАЙДА */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators {
  z-index: 8;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
/* КНОПКИ ДЛЯ СЛАЙДА */

/* Информация на фоновых картинках */
.carousel-caption {
  font-family: Broadway;
  position: absolute;
  max-width: 560px;
  top: 12%;
  left: 10%;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: left;
}
.section h5 {
  padding-bottom: 4%;
}
.section h1 {
  padding-bottom: 3%;
}
.section p {
  padding-bottom: 3%;
}
/* Информация на фоновых картинках */

/* CЛАЙДЫ */
.w-100 {
  min-height: 565px;
  min-width: 950px;
}
/* CЛАЙДЫ */

/* РЕГИСТРАЦИЯ */
.section-inputs-my {
  padding: 4em;
  background-color: #fff;
  border: 1px solid #dedede;
  border-top: none;
}
.section-inputs input[type="text"],
input[type="email"],
input[type="tel"],
select {
  background-color: #f3f3f3;
  outline: none;
  font-size: 15px;
  color: #888;
  padding: 12px 14px;
  border: 1px solid #dedede;
  margin-right: 10px;
  margin-bottom: 7px;
}
.red-submit {
  border: none;
  font-weight: 600;
  display: inline-block;
  font-size: 17px;
  color: #fff;
  background: #f05448;
  text-align: center;
  padding: 12px 22px;
}
.btn-header {
  border: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  color: #2c3038;
  background: #fff;
  text-align: center;
  padding: 12px 18px;
}
.btn-header:hover {
  opacity: 0.7;
}
.red-submit:hover {
  opacity: 0.7;
  color: white;
}
.inputs__text {
  margin-top: 15px;
}
/* СЕКЦИЯ С ИНПУТАМИ */

/* СЕКЦИЯ С КАРТОЧКАМИ НОВОСТЕЙ */
.section-cards-news img:hover {
  opacity: 0.6;
}
.section-cards-news .card-body:hover {
  background-color: #c4e7e7;
  transition: all 0.6s ease;
}

/* СЕКЦИЯ С КАРТОЧКАМИ НОВОСТЕЙ */

/* НОВОСТИ */
.section-news {
  min-height: 400px;
  background: url(images/эл.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.section-news::before {
  content: "";
  position: absolute;
  background: rgba(16, 16, 16, 0.65);
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.section-news h3 a {
  font-size: 35px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}
.section-news h3 a:hover {
  opacity: 0.7;
}
.section-news p {
  color: #eee;
  font-size: 17px;
  line-height: 25px;
  font-weight: normal;
}
/* НОВОСТИ */

/* ПРИЛОЖЕНИЕ */
.diffrent-way img:hover {
  opacity: 0.8;
}
.diffrent-way h1 a {
  line-height: 50px;
  font-size: 45px;
  text-transform: capitalize;
  text-decoration: none;
  color: #2c3038;
}
.diffrent-way h1 a:hover {
  opacity: 0.7;
}
.diffrent-way p {
  margin-bottom: 25px;
  color: #3b5266;
  line-height: 25px;
  font-size: 17px;
  font-weight: normal;
}
.diffrent-way .explore {
  color: #2c3038;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
}
.diffrent-way .explore:hover {
  opacity: 0.7;
}
/* ПРИЛОЖЕНИЕ */

/* О НАС */
.reviews {
  background-color: #fafafa;
  padding: 80px 0;
  margin-top: 80px;
}
.reviews__circle {
  width: 65px;
  height: 65px;
  background-color: #f9e8e9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f05448;
  font-size: 30px;
}
.reviews a {
  font-size: 23px;
  line-height: 25px;
  font-weight: 500;
  text-decoration: none;
  color: #2c3038;
}
.reviews a:hover {
  opacity: 0.7;
}
.reviews p {
  margin: 15px 0;
}
.reviews .reviews__more {
  border: none;
  color: #f05448;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  display: inline-block;
}
/* О НАС */

/* СТАТИТИСТИКА */
.section-rating {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #031427;
}
.section-rating span {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.section-rating p {
  font-size: 20px;
  line-height: 25px;
  color: #f8f9fa;
  text-align: center;
}
.rating__line {
  display: block;
  position: relative;
}
.rating__line::before {
  content: "";
  top: -12px;
  width: 1px;
  height: 150px;
  position: absolute;
  display: block;
  background-color: #f9e8e9;
}
.rating__line::after {
  content: "";
  top: -12px;
  right: 0;
  width: 1px;
  height: 150px;
  position: absolute;
  display: block;
  background-color: #f9e8e9;
}
/* СТАТИТИСТИКА */

/* НОВЫЕ ПОСТУПЛЕНИЯ */
.section-trip {
  margin: 80px 0;
  padding: 50px 0;
}
.section-trip .card-body a {
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  color: #2c3038;
}
.section-trip .card-body a:hover {
  opacity: 0.7;
}
.fa-star:before {
  margin-right: 4px;
}
.nav-star .cards-rating {
  margin-left: 10px;
}
/* НОВЫЕ ПОСТУПЛЕНИЯ */

/* РУКОВОДСТВО */
.section-team {
  padding-top: 100px;
  background-color: #f8f9fa;
}
.section-team .card {
  margin-top: 50px;
  margin-bottom: 80px;
}
.section-team .card h5 a {
  font-size: 20px;
  color: #2c3038;
  text-decoration: none;
}
.section-team .card h5 a:hover {
  opacity: 0.7;
}
/* РУКОВОДСТВО */

/* ОТЗЫВЫ */
.clients-says {
  margin-top: 80px;
  margin-bottom: 50px;
}
.clients-says .card {
  background-color: #f8f9fa;
  margin-top: 30px;
}
.photo-says span {
  margin-left: 15px;
}
.card .client {
  margin-left: 80px;
  margin-top: -40px;
  display: inline-block;
}
/* ОТЗЫВЫ */

/* footer */
.footer {
  background-color: #031427;
  padding-top: 50px;
  padding-bottom: 50px;
}
.input-placheholder {
  position: relative;
}
.return-contact .form-control {
  border-radius: 0;
  height: 100%;
}
.input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(98%);
  border-left: none;
  background-color: #fff;
  border-radius: 0;
  border: none;
  height: 100%;
  background: #f3f3f3;
}
.input-group-append:hover {
  background-color: lightgray;
}
.footer a {
  text-decoration: none;
  color: #ffffffb3;
}
.footer a:hover {
  opacity: 0.7;
}
.return-contact {
  max-width: 400px;
}
.input-footer {
  display: block;
}
/* footer */

/* HEADER-PAGES */
.bread {
  background: url(images/header-pages-ocean.jpg) no-repeat center;
  min-height: 240px;
  width: 100%;
  background-size: cover;
  position: relative;
}
.breadcrumb {
  background-color: initial;
  font-size: 17px;
}
.breadcrumb-item a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.breadcrumb-item a:hover {
  opacity: 0.7;
}
.breadcrumb-item.active {
  color: white;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: "FontAwesome";
  color: white;
}
/* HEADER-PAGES */

/* TOP TRAVEL */
.travel-for {
  padding-top: 80px;
}
.travel-for p {
  color: #555a64;
  font-size: 17px;
  padding-top: 15px;
}

.travel-for h3 {
  margin-bottom: 15px;
}
.big-trip {
  background-color: #f8f9fa;
  width: 100%;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* TOP TRAVEL */

/* АДАПТИВЧИК */
@media only screen and (max-width: 991px) {
  .drop-content {
    right: 0px;
    left: 0px;
    align-items: flex-start;
    padding-left: 15px;
  }
  .drop-content:before {
    left: inherit;
  }
  .mydrop {
    width: 30%;
  }
  .pages-content {
    justify-content: space-between;
  }
  .pages {
    width: 340%;
  }
}

@media only screen and (max-width: 757px) {
  .rating__line::before {
    height: 150px;
    transform: rotate(90deg);
    left: 50%;
    bottom: -100%;
    height: 260px;
  }
  .rating__line::after {
    height: 150px;
    transform: rotate(90deg);
    left: 50%;
    top: -225%;
    height: 260px;
  }
}

@media only screen and (max-width: 671px) {
  .section-inputs input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
  }
}

@media only screen and (max-width: 761px) {
  .section-inputs input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
  }
}

@media only screen and (max-width: 472px) {
  .input-placheholder {
    width: 70%;
    margin: auto;
  }
}

@media only screen and (max-width: 451px) {
  .pages {
    flex-direction: column;
  }
  .col {
    overflow: overlay;
  }
  .section-inputs input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
  }
  .red-submit {
    width: 100%;
  }
  .popup-content .input-group {
    width: 59%;
    margin-top: 20px;
    margin-left: -57px;
  }
}

@media only screen and (max-width:370px){
  .navbar{
    justify-content: center;
  }
}
